* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: var(--color-p);
  font-weight: 400;

  --color-p: #222831;
  --color-pl: #393e46;
  --color-s: #ffffff;
  --color-sl: #eeeeee;
  --color-o: #d65a31;
  --color-ol: #ff7700;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-p);
}

/* External css add */
@import url(../src/components/header/header.css);
